*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.gridContainer{
    width: 100%; 
    height: fit-content; 
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px 300px;
    place-items: center;
    margin: 20px; 
}

.certificado{
   width: 300px;
   height: 250px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
  
.certificado img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
.certificado h3 {
    color: #333;
  }
  
  