*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
} 

.container{
    width: 100%;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center; 
    gap: 1rem;   
    background: #171515;
}

.text1{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 50px;
    color: #f4c194;
    font-family: 'Oswald', sans-serif;
}    
 
.text1::before{
    content: "Mis ";
    color: #ffffff;
    margin-right: 7px;
}

.quiensoy{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 1rem;   
    color: white;
}

.quiensoy p{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-right: 10px;
}

.quiensoy img{
    display: flex;
    justify-content: start;
    align-items: center;
}

.skils{
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.front{
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.front p{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.tecnologias{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skil{
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.skil img{
    max-width: 100px; 
    height: 60px;
}

@media(max-width: 1287px){

 .container{
    height: 100vh;
    flex-direction: column;
 }

 .quiensoy{
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
 }

 .skils{
    width: 80%;
    height: 60%;
 }

}

@media(max-width: 550px){
    .container{
        height: fit-content;
    }

    .quiensoy{
        width: 100%;
    }

    .text1{
        padding: 20px;
    }

    .quiensoy p{
        height: fit-content;
        padding: 20px;
    }

    .skils{
        width: 100%;
        height: fit-content;
     }

     .tecnologias{
        width: 100%;
        height: fit-content;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat (1fr);
        place-items: center;
     }

    .skil{
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        
    .skil img{
        width: 100px;
        height: 100px;
    }

    .front p{
        display: none;
    }

    .back p{
        display: none;
    }

    .database p{
        display: none;
    }
} 