*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
} 

/* sobreMiContainer */
.sobreMiContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotografia{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotografia img{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobreInfo{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
}

.sombreado{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    font-size: 50px;
    transition: 500ms;
    font-family: 'Oswald', sans-serif;
}

.sombreado::after{
    content: "Expositor";
    color: #f4c194; 
    margin-left: 10px;
}

/*
.sobreInfo h2:hover {
    box-shadow: 3px 3px 50px 3px rgb(43, 236, 18);
    transition: 500ms;
    background: rgba(43, 236, 18, 0.807);
    padding: 20px;
    margin-bottom: 10px;
    padding-left: 40px;
}
*/
.sobreInfo p{
    line-height: 1.5;
    color: white;
}

/* Efecto */

.articulo{
    width: 250px;
    transition: all .3s ease;
    position: relative;
}

.articulo img:first-child{
    width: 100%;
    border-radius: 4px;
    object-fit: cover;  
}

.articulo img:last-child{
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition:  .3s ease;
    opacity: 0;
}

.articulo:hover{
    transform:
    perspective(250px)
    rotateX(10deg)
    translateY(-5%)
    translateZ(0);
}

.articulo::before{
    width: 100%;
    height: 100%;
    content: ' ';
    position: absolute;
    background-image: linear-gradient(to bottom, transparent 10%, rgba(0,0,0,0.5) 50%, rgba(0,0,0) 95%);
    box-shadow: 0px 0px 10px 0px black;
    opacity: 0;
    transition: all .3s ease;
}

.articulo:hover::before{
    opacity: 1;
}

.articulo:hover img:last-child{
    opacity: 1;
    transform: translateY(10%);
}

@media(max-width: 1287px){
    .sobreMiContainer{
        flex-direction: column;
    }

    .sobreInfo{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 0px;
    }

    .sobreInfo h2{
      width:500px;
    }

    .sobreInfo p{
        width:500px; 
    }
}

@media(max-width: 550px){
    .sobreMiContainer{
        flex-direction: column;
    }

    .fotografia{
        width: 100%;
        height: 50%;
    }
 
    .sobreInfo{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 0px;
    }

    .sobreInfo h2{
      width:95%;
      height: 10%;
      display: flex;
      justify-content: start;
      align-items: center;
    }

    .sobreInfo p{
        width:95%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}