*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.Titulo{
    width: 80%;
    height: 20vh;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
}

.Titulo h2{ 
    font-family: 'Oswald', sans-serif; 
    color: #f4c194; 
    font-size: 50px;
    margin-left: 10px;
}

@media(max-width: 550px){
    .Titulo{
        width: 100%;
    }

    .Titulo h2{
        font-size: 40px;
    }
}